body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 100px;
}

h1 {
  color: green;
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
